.about{
    text-align: center;
    height: 400px;
    margin-top: 139px;
    margin-bottom: 105px;
}
.title{
    margin-bottom: 177px;
    font-size: 64px;
    font-weight: 300;
}
.subtitle{
    font-size: 24px;
    font-weight: 400;
}
.requirement{
    height: 1065px;
    width: 100%;
    background: var(--c-dark);
    border-radius: var(--b-3);
    left: -9px;
}
.requirement-main{
    width: 1120px;
    height: 885px;
    padding-top: 80px;
    margin-left: 400px;
    margin-right: 400px;
    
}
.requirement-main__description{
    width: 100%;
    height: 90px;
    color: #7D7987;
    text-align: center;
    font-size: 18px;
    font-weight:400;
    line-height: 30px;
}
.requirement-main-abilities{
    margin-top: 50px;
    display: flex;
    column-gap: 80px;
    row-gap: 37px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.requirement-main-abilities__item{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 354px;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 10px 10px 50px rgba(229, 233, 246, 0.1);
    border-radius: 10px;
}
.abilities-image{
    margin-top: 50px;
    margin-left: 25px;
}
.abilities-name{
    font-size: 24px;
    font-weight: bold;
    line-height: 56px;
    color: #2D2D2D;
    margin-top: 24px;
    margin-left: 25px;
}
.abilities-description{
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: rgba(45, 45, 45, 0.8);
    margin: 0 auto auto 25px;
}
.structure{
    display: flex;
    width: 1120px;
    height: 172px;
    background: #FFFFFF;
    border-radius: 21px;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}
.structure-items{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 114px 20px 114px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.structure-items:not(:last-child){
    border-right: 1px solid #E7EAEB;
}
.structure-items__header{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
.structure-items__description{
   font-size: 16px;
   font-weight: 400;
   line-height: 19,5px; 
   width:145px;
   height:20px;
}